:root {
  --header-height: 3.5rem;
  --color-properties: var(--cyan); // #0c5460;
  --color-units: var(--teal); // #155724;
  --color-tenants: indigo;
  --primary: var(--color-tenants);
}

html {
  box-sizing: border-box;
  font-size: 14px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  // text-transform: uppercase !important;
  // font-variant-caps: all-small-caps !important;
}
html,
body,
#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body {
  background-color: #f2f2f2;
}

div,
span {
  position: relative;
}

.color-properties {
  color: var(--color-properties);
}
.color-units {
  color: var(--color-units);
}
.color-tenants {
  color: var(--color-tenants);
}
.btn-properties {
  color: #fff;
  background-color: var(--color-properties);
  border-color: var(--color-properties);
}
.btn-units {
  color: #fff;
  background-color: var(--color-units);
  border-color: var(--color-units);
}
.btn-tenants {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);
}
a {
  color: var(--primary);
}
